<p>Find me in app/views/home/index.html.erb</p>
<h1> BackChannel </h1>
<%= link_to "Enter Username", "" %>
<br>
<%= link_to "Go to Application", "" %>
<br>
<%= link_to "Create an Account", users_path %>
