<%= link_to "Post a new question now", '/posts/new' ,{:class => 'post'}   %>

<center><h1>TOP questions</h1>

<table>
  <tr>
  	<th>Vote</th>
    <th>Post</th>
    <th>Admin Exclusive</th>
  </tr>

<% @posts.each do |post| %>
  <tr>
  	<td><%= link_to 'Vote', '/' %></td>
    <td><%= link_to post.post_text, post %></td>
    <td><%= link_to 'Delete', post, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
</center>
<br />


