<header>
	<a href="/posts"> <%=  image_tag("logo.png", :alt => "Live Questions", :height => '100px', :width => '200px' ) %> </a> 
    <em class="topright"><%= link_to "Sign in", '#'  %> <%= link_to "Sign up", '/users/new' %>   <%= link_to "Sign Out", '#' %></em>
    
</header>